<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<h1>Delete Blog</h1>
<a th:href="@{/blogs}">Back to list Blog day</a>
<body>
<form th:object="${blog}" th:action="@{/delete-blogs}" method="post">
    <table border="1">
        <input type="hidden" th:field="*{id}" name="id">
        <tr>
            <th>Blog</th>
            <th>Content</th>
        </tr>
        <tr>
            <td th:text="*{name}"></td>
            <td th:text="*{content}"></td>
        </tr>
    </table>
    <td><input type="submit" value="Delete"></td>
</form>
</body>
</html>